<section class="p-4">
    <div class="footerbodyheader border p-4">
        <p class="d-flex justify-content-center">Facebook Twiter Instagram</p>
        <div class="row">            
            <div class="col-md-6">
                <p>Dirección: Ferroviaria Media - paque 17 de Julio- Calle Hermoso</p>
                <p>Cel: 0987384692 / 0983118303</p>
                <p>Web: </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center" style="font-size: 3vw;">
                Chef: Fausto Merchan
            </div>
        </div>
    </div>
    <p class="text-center footerpie p-4">© 2021 Copyright:</p>
</section>